[2018-04-05 23:26] verglor opened #2 "Missing MapperAttachmentsPlugin dependency"
### Task List

- [x] Steps to reproduce provided
- [x] Stacktrace (if present) provided
- [ ] Example that reproduces the problem uploaded to Github
- [x] Full description of the issue provided (see below)

### Steps to Reproduce

1. create new Grails 3.3.4 app
2. add `compile "org.grails.plugins:elasticsearch:2.4.0"` to `dependencies` in `build.gradle`
3. add `ext['elasticsearch.version'] = "5.4.

[2018-04-08 09:03] puneetbehl commented on #2
@verglor Thanks for information. For now, I think it's best to update documentation as I am not sure adding `org.elasticsearch.plugin:mapper-attachments:2.4.6` would solve the problem. So for now, I will the update the documentation accordingly but I would also appreciate PR. :-)

[2018-04-08 10:20] puneetbehl commented on #2
@verglor I am not able to replicate the issue. Can you please have a look at the attached
[esdemo.zip](https://github.com/puneetbehl/elasticsearch-grails-plugin/files/1887255/esdemo.zip) and upload the updated archive (replicating the issue) here.

[2018-04-08 15:54] verglor commented on #2
Your example app is not working for me since I do not run separate instance of elasticsearch in transport mode. Once I change to local mode the issue can be successfully reproduced. This leads me to the conclusion that MapperAttachmentsPlugin is needed by the embedded elasticsearch.

[2018-04-08 15:59] puneetbehl commented on #2
Thanks for the feedback. I normally test using separate ES instance and that's why it got skipped. Let me look into this and I will keep you posted.

[2018-04-08 16:09] verglor commented on #2
Maybe actual version of MapperAttachmentsPlugin that is downloaded, unzipped and used for compilation could be included in resulting jar ? Or even better deploy it to maven under custom groupId and use as normal dependency.

[2018-04-08 16:37] verglor commented on #2
However since MapperAttachmentsPlugin is deprecated from Elasticsearch 5.0, dependency on it should be removed altogether I think.

[2018-04-08 23:09] puneetbehl commented on #2
We need to replace the implementation of `MapperAttachmentPlugin` with `ingest-attachment` plugin. For now, I have added boolean configuration to disable the mapper-attachment plugin and will update the documentation with steps required in case you need mapper-attachment.

Also, I am not sure adding mapper-attachment jar or dependency in the plugin itself would be a good idea as it might not be ne

[2018-04-09 11:08] verglor commented on #2
Ability to disable MapperAttachmentPlugin and updated documentation (that you have to either provide the jar or disable the plugin if you want to use embedded elasticsearch) together with creating a new issue regarding replacing MapperAttachmentPlugin with ingest-attachment is probably the best way to resolve this issue.
Thank You.

[2018-04-13 18:01] MajoCigo opened #3 "Failed to execute ':bootRun' after adding plugin dependency"
Hello, I apologize if I'm writing at wrong place.  I'm developing complex Grails app, where I'd like to add this plugin.

- Downloaded _Elasticsearch 5.4.1_
- Started Elasticsearch docker container
- Added to _build.gradle_:
`compile 'org.grails.plugins:elasticsearch:1.4.1'`

and
[code]
- Added to _application.yml_:
[code]

### Expected Behaviour

I expected my app to at least start. Than I'd star

[2018-04-14 08:11] puneetbehl commented on #3
It seems to be related to Windows only. Have you tried in some other OS? (such as Linux). Also, could you please check that you are able to run a simple Grails application without using ES.

[2018-04-14 08:25] MajoCigo commented on #3
Thanks for suggestions. I can run any application without ES without problems, but I'll try running this in linux and let you know.

[2018-04-14 12:00] MajoCigo commented on #3
Look like you were really right! I got it working in Linux. I also had to replace version of this plugin for 1.2.0 and use Elasticsearch 2.3.5.

I wonder if you get any idea what can be wrong in my Windows OS, or what should I do to remove the original problem from there. I'll stick to Linux for now and try to solve this new error.

You can remove this issue as it is not really related to this plu

[2018-04-15 19:58] #3 closed, assigned to puneetbehl

[2018-04-15 20:06] puneetbehl opened #4 "Replace MapperAttachmentPlugin with ingest-attachment"
The [Mapper Attachments](https://www.elastic.co/guide/en/elasticsearch/plugins/5.6/mapper-attachments.html) Plugin has been deprecated in ES 5.0.0 and replaced by the [ingest-attachment](https://www.elastic.co/guide/en/elasticsearch/plugins/5.6/ingest-attachment.html) plugin.

See #2 for more details.

[2018-04-20 13:19] forestwanglin commented on #2
I have the same problem. I solved it with the solution by  verglor. Thanks.
Environment Information
Operating System: Mac 10.13
GORM Version: 6.1.9
Grails Version (if using Grails): 3.3.3
JDK Version: 1.8

[2018-04-22 20:55] puneetbehl commented on #3
@MajoCigo It's been a long time since I used windows but my guess is that it's related to permissions.  But, I need to find more information in order to debug.

Please keep me posted if you find anything.

[2018-04-22 22:31] puneetbehl commented on #2
I have update docs on:
* How to disable mapper attachments, under Configuration> 2.3 Client Mode> 2.3.1 Disable Mapper Attachments plugin
* Using mapper-attachments with Elasticsearch and mode `local` under Quick Start> 3.6 The Mapper Attachments plugin.

The latest documentation can be found [here](https://puneetbehl.github.io/elasticsearch-grails-plugin/snapshot/index.html)

Thank you! @verglor

[2018-04-22 22:34] #2 closed, assigned to puneetbehl

[2018-04-23 18:38] MajoCigo commented on #3
I have been working with Grails and Gradle on windows for about half a year without any problems. But suddenly I have this error everytime I add new dependency to my project. I have probably messed something with some update as I'm constantly working with many technologies. By now I've tried various solutions with no succes, so I'll probably have to do complete reinstall on my windows next week, a

[2018-05-01 07:43] mtgleeson opened #5 "IllegalArgumentException: unknown setting [node.client]"
Elasticsearch version 5 no longer supports the node.client setting but the plugin explicitly sets it for node mode:  ClientNodeFactoryBean.getObject() line 191 -> settings.put("node.client", true)
https://github.com/elastic/elasticsearch/issues/18704

Instead node.data: false and node.master: false should be set.
This is a hindering issue as I don't know of anyway of removing node.client from the

[2018-05-01 07:58] mtgleeson opened #6 "IllegalStateException: path.home is not configured - 2.4.0"
After upgrading to Grails 3.3.4 and Elasticsearch plugin 2.4.0 the application now gets an error on startup: `java.lang.IllegalStateException: path.home is not configured`. This is when using client mode as 'node'.
Previously on an older version of the plugin I worked around this by putting in -Des.path.home in the `JAVA_OPTS` but this no longer works - https://github.com/noamt/elasticsearch-grail

[2018-05-04 12:16] abcfy2 commented on #2
Same issue here, and I've already set `elasticSearch.plugin.mapperAttachment.enabled: false`, but not working.

build.gradle:

[code]

And here is my plugin config in application.yml:

[code]

But it can't help:

[code]

[2018-05-04 12:24] abcfy2 commented on #2
Sorry, it's my fault, it seems that the feature of disable MapperAttachmentsPlugin haven't been released yet.

I have to add `compile "org.grails.plugins:elasticsearch:2.4.0"` to `build.gradle` to resolved my issue.

[2018-05-05 14:57] puneetbehl commented on #6
I am not sure you are able to use mode "node" with Elasticsearch 5.4.1 as this has been removed. See the documentation [here](https://www.elastic.co/guide/en/elasticsearch/reference/5.2/breaking_50_settings_changes.html#_node_types_settings)

And as per the current version of the plugin application will not start with mode `node` or `dataNode`.

[2018-05-05 14:59] puneetbehl commented on #6
Nvm, I just noticed the #5

[2018-05-09 18:56] MajoCigo commented on #3
I just found out that this problem is not related to my machine. I got this problem on another two PCs on Windows only. For Linux works everything fine.

[2018-05-09 20:05] Prominence commented on #3
Issue is closed but I have the same problem in Arch Linux.
Gradle 4.0(also checked **4.7**, **3.5**, **3.0**)
Grails 3.3.5(also the same problem for **3.1.9**)
JDK 8.0.171-oracle(also checked on **8.0.172-zulu**)

With newly created app - everything is OK. But then I added `compile 'org.grails.plugins:elasticsearch:2.4.0'` dependency - the same error appears.

@puneetbehl, could you please say you

[2018-05-09 20:45] Prominence commented on #3
@MajoCigo hello, I got the same error on Arch Linux. What versions do you use?

[2018-05-10 01:52] puneetbehl opened #7 "Update to Elasticsearch 5.5.3"

[2018-05-10 01:53] #5 closed, assigned to puneetbehl

[2018-05-10 11:37] MajoCigo commented on #3
**Windows 8.1**  -- Problem occurs
- Gradle 2.13
- Grails 3.1.9
- JDK 8.0.161

**Windows 10** -- Problem occurs
- Gradle 2.13
- Grails 3.1.9
- JDK 8.0.171

**Ubuntu 16.04** -- Works fine
- Gradle 2.13
- Grails 3.1.9
- JDK 8.0.162

I have it same as you. When I add `compile 'org.grails.plugins:elasticsearch:1.2.0'` to my app, the problem happens on Windows. I'm using Elasticsearch 2.3.5. I've also

[2018-05-12 17:10] Prominence commented on #3
@MajoCigo Thanks, but I still have an error.

[2018-05-13 14:38] Prominence commented on #3
After some research found that with
- Grails 3.1.9
- Groovy 2.4.7
- Gradle 2.13
- JDK 1.8.0_172
- compile 'org.grails.plugins:elasticsearch:1.4.1'
- ext['elasticsearch.version'] = '5.4.1'

and some basic configuration it works(not sure but application is started) on my **Arch Linux** system.

For the next configuration
- Grails 3.3.5
- Groovy 2.4.15
- JDK 1.8.0_172
- compile 'org.grails.plugins:el

[2018-08-29 09:09] puneetbehl opened #9 "Update Documentation with steps to connect to elastic.co using shield plugin"

[2018-08-29 16:25] occurred opened #10 "Error when using the ShieldPlugin with Elasticsearch > 2"
I want to use elastic.co cloud hosting with Elasticsearch version 5.x on Amazon AWS. My problem is now the connection and I think I've to use the ShieldPlugin ( https://www.elastic.co/guide/en/shield/2.4/_using_elasticsearch_java_clients_with_shield.html ) to connect to my cluster, but when adding the dependency and then run the project I get an error.

Also, it is told by an elasticsearch enginee

[2018-08-31 18:23] puneetbehl opened #11 "Support Java High Level REST client"
https://www.elastic.co/guide/en/elasticsearch/client/java-rest/current/java-rest-high.html

[2018-08-31 18:26] puneetbehl opened #12 "Support X-Pack transport client"
https://www.elastic.co/guide/en/x-pack/5.5/java-clients.html

[2018-08-31 18:30] puneetbehl commented on #6
Fixed with issue #5

[2018-08-31 18:30] #6 closed, assigned to puneetbehl

[2018-09-10 08:46] occurred opened #13 "Upgrade plugin to work with actual newest ES version 6.5.x"
For this also an upgrade from the actual used TransportClient to the new Rest Client will be done:
https://www.elastic.co/guide/en/elasticsearch/client/java-rest/master/java-rest-overview.html

[2018-10-12 20:58] verglor opened #14 "Support java.time.* mappings"
If I have any field of type from java.time.* in domain class, it fails to create mapping.
I can manually specify converter, but it would be still indexed as [text](https://www.elastic.co/guide/en/elasticsearch/reference/5.4/text.html) type instead of [date](https://www.elastic.co/guide/en/elasticsearch/reference/5.4/date.html) which is quite problematic for sorting.

[2018-10-14 12:18] Grestorn opened #15 "Highlighting not working"
I'm using a simple dfs query with es but for some reason the highlighting doesn't work. What am I doing wrong?

Here's an except the Domain that's searched:

[code]

This is the search call and the highlight settings:

[code]

The search itself works fine, I get the results I'm looking for. The "highlight" list is also returned, but it doesn't contain any fragments whatsoever. None of the fields i

[2018-10-14 19:39] verglor opened #16 "Ability to specify field type"
It would be great if it was possible to explicitly specify elasticsearch type for the field.
Something like this:

[code]

[2018-10-14 19:48] verglor commented on #14
Current workaround with subfield using converter from [grails-java8](https://plugins.grails.org/plugin/grails/grails-java8) :
[code]
Sorting works with `dateCreated.date` and `lastUpdated.date` fields.
However it would be better if we could use these fields directly (using type `date` on the field itself) and out of the box (without need for custom converter).

[2018-10-14 20:58] verglor commented on #16
Actually looking at [ElasticSearchMappingFactory#L197](https://github.com/puneetbehl/elasticsearch-grails-plugin/blob/v2.4.1/src/main/groovy/grails/plugins/elasticsearch/mapping/ElasticSearchMappingFactory.groovy#L197) I have found out that if converter is string representing elasticsearch type, it is interpreted as type. Like this:
[code]
This is undocumented and quite confusing.

[2018-10-22 11:53] puneetbehl opened #18 "Support connectionString config value to set ES hosts"
Right now, it little complicated or impossible to pass `elasticsearch.client.hosts` config value from Java properties using the following syntax:

[code]

because the value for `hosts` is an array of the object as:

[code]

So, in order to support above we could create another configuration value `connectionString` similar to what MongoDB provides as:

[code]

which can easily be passed as Java pr

[2018-10-23 05:59] puneetbehl commented on #18
Merged the PR related to code changes but I still need to update the documentation on `connectionString`.

[2018-10-23 06:19] puneetbehl commented on #14
@verglor I am assuming from the commits that you are already working on this? so I am going to assign the ticket to you and update the status to "in-progress".

[2018-10-23 06:34] puneetbehl commented on #10
From version 5.0 onward, Shield is part of X-Pack. For more information, see Securing [Elasticsearch and Kibana](https://www.elastic.co/guide/en/x-pack/current/elasticsearch-security.html) in the X-Pack Reference.

There is another issue to Support X-Pack transport client #12 and I have already made some progress on it and just trying to test it.

[2018-10-23 06:35] puneetbehl commented on #7
I have made some progress and the latest changes are in the version 2.5.0.BUILD-SNAPSHOT. I still need to do some testing.

[2018-10-31 18:36] alanlit opened #20 ""Not a searchable domain class" intermittent error in indexing"
grailsVersion=3.3.2
gormVersion=6.1.8.RELEASE

es-grails-plugins 2.4.1 and 2.5.0.BUILD-SNAPSHOT  e.s. 5.3

When indexing I *intermittently* get the following error (bulkIndexOnStartup=true):

	at org.springframework.util.Assert.notNull(Assert.java:134)
	at sun.reflect.GeneratedMethodAccessor210.invoke(Unknown Source)
	at sun.reflect.DelegatingMethodAccessorImpl.invoke(DelegatingMethodAccessorImpl.

[2018-11-07 14:29] jamesallman opened #21 "java.lang.ClassNotFoundException: org.elasticsearch.common.xcontent.NamedXContentRegistry"
### Steps to Reproduce

1. Create a new Grails 3.3.8 application
2. Add `compile "org.grails.plugins:elasticsearch:2.4.1" to application.yml`
3. Run the application

### Expected Behaviour

No error

### Actual Behaviour

[code]

### Environment Information

- **Operating System**: Linux/Debian Stretch
- **GORM Version:** 6.1.10.RELEASE
- **Grails Version (if using Grails):** 3.3.8
- **JDK Version

[2018-11-08 00:42] jamesallman commented on #21
This error is due to the Spring Boot elasticsearch version mentioned in [section 2.1 of the documentation](https://puneetbehl.github.io/elasticsearch-grails-plugin/snapshot/index.html#overriding-spring-boot-elasticsearch-version).

[2018-11-08 00:42] #21 closed, assigned to nobody

[2018-12-10 14:21] Grestorn opened #23 "Indexing fails with "Failed to marshall domain instance""
I've been running a project on using Grails 3.2.x with ES 2.4.6 and ES plugin 1.2.0 for quite some time without any problem.

Now I want to update everything and changed to Grails 3.3.8, ES to 5.4.3 and ES plugin to 2.4.1

Now, I'm running into a problem when indexing the objects: Some of them cause the exception:
[code]

I dug down into the cause of that and found out that the root cause is in
`g

[2018-12-14 19:50] #18 closed, assigned to puneetbehl

[2018-12-14 19:51] #10 closed, assigned to puneetbehl

[2019-01-23 16:43] occurred commented on #11
Will be the case with issue #13 and then only Java High Level REST client is used. This means with #13 there is no backward compatibility.

[2019-05-12 05:37] krishna28 opened #26 "elasticsearch not working with mongodb grails 3.3.x"
I am trying to make grails 3.3.2, MongoDB 6.1.6 and elasticsearch 5.4.3 work as per the grails guide
[https://guides.grails.org/grails-elasticsearch/guide/index.html.
](https://guides.grails.org/grails-elasticsearch/guide/index.html).

But it always fails with the below mentioned error:

Field mappingContext in grails.plugins.elasticsearch.mapping.DomainReflectionService required a single bean, bu

[2019-05-13 10:54] puneetbehl commented on #26
@krishna28 I will look into it this week. Can you please share the version of the Grails Elasticsearch plugin you are using? I am not sure but I think there was a similar issue which was fixed earlier.

[2019-05-13 12:03] krishna28 commented on #26
@puneetbehl thanks for your prompt response. I tried both the versions 2.4.1 and 2.4.0 but didn't work for any of the elastic search versions 5.4.3 or 5.4.1 respectively.

[2019-05-14 13:58] puneetbehl commented on #26
@krishna28 This issue has been fixed in commit 4463773b8ad4c1fced13191551ee673845e95c71 and will be released soon with `v2.5.0`

[2019-05-14 14:10] krishna28 commented on #26
Thanks for the update @puneetbehl .

[2019-05-16 11:08] #20 closed, assigned to nobody

[2019-05-16 11:22] #26 closed, assigned to puneetbehl

[2019-05-16 11:22] #23 closed, assigned to nobody

[2019-06-09 06:43] codeconsole commented on #13
You are better off skipping 6.5.x and going straight to 7.1.x

[2019-06-25 05:27] ajayshah1992 opened #27 "Error creating bean with name 'auditListener': Cannot resolve reference to bean 'indexRequestQueue' while setting bean property 'indexRequestQueue"
o.s.b.c.e.AnnotationConfigEmbeddedWebApplicationContext - Exception encountered during context initialization - cancelling refresh attempt: org.springframework.beans.factory.BeanCreationException: Error creating bean with name 'auditListener': Cannot resolve reference to bean 'indexRequestQueue' while setting bean property 'indexRequestQueue'; nested exception is org.springframework.beans.factory.

[2019-06-25 05:28] ajayshah1992 commented on #27
In application.yml
elasticSearch:
    datastoreImpl: mongoDatastore
    client:
        mode: transport
        hosts:
          - {host: localhost, port: 9300}
    cluster.name: elasticsearch
    disableAutoIndex: false
    bulkIndexOnStartup: true

In build.gradle
def elasticsearchVersion = '5.4.1'
ext['elasticsearch.version'] = elasticsearchVersion
compile "org.grails.plugins:elasticsearch:2.4.

[2019-06-25 05:29] ajayshah1992 commented on #27
system information
Gradle 5.1
------------------------------------------------------------

Build time:   2019-01-02 18:57:47 UTC
Revision:     d09c2e354576ac41078c322815cc6db2b66d976e

Kotlin DSL:   1.1.0
Kotlin:       1.3.11
Groovy:       2.5.4
Ant:          Apache Ant(TM) version 1.9.13 compiled on July 10 2018
JVM:          1.8.0_212 (Oracle Corporation 25.212-b03)
OS:           Linux 4.15.0-5

[2019-06-25 13:07] #27 closed, assigned to nobody

[2019-06-25 13:08] ajayshah1992 commented on #27
This has been solved when i added transport as mode in configuration

[2019-06-25 13:10] ajayshah1992 opened #28 "groovy.lang.GroovyRuntimeException: Cannot add new static method [search] for arguments [[class java.lang.String]]. It already exists!"
25.06.2019 18:30:26.162 [main] INFO  g.p.e.ElasticSearchAdminService - Creating Elasticsearch mapping for io.sparkwork.modules and type post ...
25.06.2019 18:30:26.516 [main] DEBUG g.p.e.ElasticSearchAdminService - Cluster status: YELLOW
25.06.2019 18:30:26.536 [main] INFO  o.a.catalina.core.StandardService - Stopping service [Tomcat]
25.06.2019 18:30:26.543 [localhost-startStop-2] WARN  o.a.c.lo

[2019-06-25 14:13] ajayshah1992 commented on #28
Hello, This issue is due to some groovy level having same method as ES. In ES it has given to changes the methods name like
searchMethodName:
        esSearch
    countHitsMethodName:
        esCountHits
This solves my problem.

[2019-06-25 14:13] #28 closed, assigned to nobody

[2019-08-06 05:13] cgoIT commented on #13
Are there any plans to get this issue done in an upcoming release (2.5.0, 2.6.0)? We're using this plugin in one of our projects but have to use a newer es version. We have some little time yet. But if there is no time schedule maybe we have to get this done on our own (I think the main work is done by the commits linked here in this ticket).

[2019-08-06 05:20] occurred commented on #13
Yes, I think the main work is already done by me, see:
https://github.com/puneetbehl/elasticsearch-grails-plugin/tree/2.6.0.RC1

Sorry, but currently I can't say when I'm able to finish.

[2019-08-06 05:23] cgoIT commented on #13
Thx for your quick response. I saw this branch. Just looking at it ;).

Do you have a list of things which are not finished yet? I do not want to promise too much, but maybe I find the time to take a look.

[2019-08-06 05:30] occurred commented on #13
I'll try to find out asap and will let you know - don't think that it will be before today evening (CEST).
I also saw now on my local branch that I've some small additional changes I can commit.

[2019-08-06 15:59] cgoIT commented on #13
Hi, maybe you could have a look on my commits from today: [https://github.com/cgoIT/elasticsearch-grails-plugin/commits/2.6.0.RC1](https://github.com/cgoIT/elasticsearch-grails-plugin/commits/2.6.0.RC1).

Maybe it's easier (to not blow up this thread here) to communicate via email (carsten@cgo-it.de) and post our results here?

[2019-08-08 16:17] cgoIT commented on #13
I also invested some time to upgrade to ElasticSearch 7.3.0. You could find my commits under [https://github.com/cgoIT/elasticsearch-grails-plugin/commits/2.7.0.RC1](https://github.com/cgoIT/elasticsearch-grails-plugin/commits/2.7.0.RC1).

In this branch I also included a gradle plugin (the plugin is not available at the plugin portal right now. Will be there soon) to start an "embedded" elasticse

[2019-08-20 17:25] mhemani opened #29 "Upgrade to Grails 4"
Support is needed for Grails 4, as some classes have been removed. One example is: grails.core.GrailsDomainClassProperty

http://docs.grails.org/4.0.x/guide/upgrading.html

[2019-10-27 10:47] Rampftl commented on #29
It seems that I have managed to upgrade the plugin code to grails 4.0.0. It was not so hard to change the code but to upgrade to gradle 5.1. ToDos:
* Upgrade the tests and integration-test files
* Test all mappings to work correctly with ElasticSearch
* Test if the gradle upgrade is working on gradle 3
* Test if the plugin is working with gradle 3

I'm not a Grail's plugin developer. I made the po

[2019-10-27 16:25] Rampftl commented on #29
There is a problem with transients. They cause a NPE. So none of the Untegration Tests is working becauase all Domains with transients fail on indexing.

BTW: Created a fork to submit my changes

[2019-12-04 23:33] bp-FLN opened #30 "when child is removed, parent gets deleted from index"
So we just encountered the following issue and it seems to be related to the elasticsearch grails plugin.

Assuming a simple parent child relationship (one to many):
[code]
[code]

if you do the following in your code:
[code]

then the following query sequence is generated:
[code]

which leads to the parent being removed from the elasticsearch index.

The problem seems to be in `AuditEventListener

[2019-12-09 06:18] puneetbehl commented on #30
@bp-FLN If you can fix it and send a PR with a reproducible test case that would be much appreciated. Otherwise, I will take a look at it.

[2019-12-09 06:20] puneetbehl commented on #29
@Rampftl If you can submit a PR with your changes that would be great. Then, I or anyone else can pick up from there.

[2019-12-09 23:30] bp-FLN commented on #30
@puneetbehl i'll take a look

[2019-12-12 10:28] #30 closed, assigned to nobody

[2019-12-23 00:00] mtgleeson commented on #29
Just checking if there was any traction with this - upgrading to Grails 4?

[2019-12-23 13:07] puneetbehl commented on #29
@mtgleeson I looked into this today and mostly working on remove usage of `GrailsDomainClass` and `GrailsDomainClassProperty` with new `mappingContext`.

[2019-12-24 19:09] puneetbehl commented on #29
I have completed an initial BUILD-SNAPSHOT version of the plugin `3.0.0.BUILD-SNAPSHOT` with all the tests passing. I didn't get a chance to do thorough testing. If someone can test 3.0.0.BUILD-SNAPSHOT it would be great.

[2019-12-24 19:16] puneetbehl commented on #13
Thank you @cgoIT and @occurred for your help. I just completed an initial draft to support Grails 4. Also, we are now using semantic versioning ( trying to simplify versioning). So, the next version to support Grails 4 would be `3.0.0`

Once we complete upgrade to support ES 6.x or  7.x then the version would be `5.0.0`. I am going on vacation but will prioritize the remaining work to support ES v

[2019-12-24 19:30] mtgleeson commented on #29
Thanks @puneetbehl . I plan on migrating to Grails 4 in the next week. I'll let you know how my testing goes with the snapshot.

[2019-12-30 16:51] mtgleeson commented on #29
Hi @puneetbehl , I'm upgrading to Grails 4 and using 3.0.0.BUILD-SNAPSHOT of the plugin.  I'm seeing this issue preventing Grails from starting up:

[code]

Have you seen this?

[2019-12-30 17:33] puneetbehl commented on #29
No, I only tried running the tests in the plugin. I will be back by 2 Jan, and then I will take a look. Thanks!

[2019-12-30 19:00] mtgleeson commented on #29
Thanks. I looked into this a bit more. It seems org.springframework.boot:spring-boot-starter-logging is pulling in log4j-to-slf4j.

When starting up the LoggerContext being returned by factory.getContext in LogManager.getContext is SLF4JLoggerContext.
I managed to work around this by excluding the log4j bridge to slf4j dependency in build.gradle:
[code]

This doesn't feel right though. I don't see

[2020-01-02 09:09] puneetbehl commented on #29
@mtgleeson I am not able to see the above exception. I have created a basic Grails 4 application with a simple domain class `Post.groovy` as:
[code]
Here is the sample application https://github.com/puneetbehl/elasticsearch-demo-grails4

[2020-01-02 09:57] puneetbehl opened #32 "Use "copy_to" instead of "include_in_all`"
In Elasticsearch 5.5, field [include_in_all] is deprecated, as [_all] is deprecated, and will be disallowed in 6.0, use [copy_to] instead.

[2020-01-05 23:55] mtgleeson commented on #29
ok thanks @puneetbehl , there must be some class loader clash with another dependency/plugin I'm pulling in.

[2020-01-29 12:21] ajayshah1992 opened #33 "How can we enable xpack.security.enabled=true. Because, I want to use xpack security, but don;t know how to do this"
Thanks for reporting an issue for GORM, please review the task list below before submitting the
issue.

### Task List

- [ ] Steps to reproduce provided
- [ ] Stacktrace (if present) provided
- [ ] Example that reproduces the problem uploaded to Github
- [ ] Full description of the issue provided (see below)

### Steps to Reproduce

1. TODO
2. TODO
3. TODO

### Expected Behaviour

Tell us what sho

[2020-04-07 19:06] benfreefly commented on #29
@mtgleeson I am also getting this error. Our application uses multiple plugins, so tracking down the source is daunting. Did the bridge exclusion work out for you? Like you, that doesn't seem like the correct solution to me; did you lose any important logging as a result?

[2020-04-08 05:04] mtgleeson commented on #29
@benfreefly unfortunately after spending some time trying to figure out the issue I decided to migrate to use Hibernate Search instead of Elastic Search.

[2020-04-17 12:42] izzetkalic opened #34 "Using elasticsearch as a secondary datastore"
Hello,

Firstly, I wanted to thank you for this plugin. I want to use ES as secondary datastore for my applications' log. I used [@cgoIt](https://github.com/cgoIT/elasticsearch-grails-plugin)'s version (2.7.2) in order to use ES 7.5.1. I use MSSQL as primary database. Here is my config;

[code]

And my class;

[code]

When I used `.save` method GROM insert into two databases but I wanted to insert

[2020-06-12 09:13] #7 closed, assigned to puneetbehl

[2020-06-12 09:16] puneetbehl commented on #13
@cgoIT Would you be interested to send a PR with your changes?

[2020-06-12 10:52] cgoIT commented on #13
Hi, this could be difficult. In the meantime, a lot of code has changed, so that merging should no longer be possible automatically.

I don't think the situation itself is really good, but since we have to use the plugin in an official product, we were forced to develop it further.

Currently I have too little time to rework the code so that am automatic merge is possible. Unfortunately I didn't g

[2020-06-12 14:05] puneetbehl commented on #13
I appreciate the effort you put in and all the work you have done on the plugin. I think the issue might be that you are trying to merge to the master branch which is for Grails 4. The automatic merge should be possible without conflicts if you do it based on the branch 2.6.0.RC1.

Once, that is done I would add a tag and that should do the automatic release to support the latest version of Elasti

[2020-06-17 11:17] puneetbehl commented on #13
Check https://github.com/puneetbehl/elasticsearch-grails-plugin/tree/2.7.x
Thanks to @cgoIT  and @occurred

[2020-06-17 11:17] #13 closed, assigned to occurred

[2020-06-17 11:18] #11 closed, assigned to nobody

[2020-06-17 11:19] #32 closed, assigned to nobody

[2020-06-17 12:05] cgoIT commented on #13
Hi,
maybe you could have a look at https://github.com/puneetbehl/elasticsearch-grails-plugin/issues/14 and https://github.com/puneetbehl/elasticsearch-grails-plugin/issues/15. I think there's a good chance that this two bugs are fixed as well with the new version.

https://github.com/puneetbehl/elasticsearch-grails-plugin/issues/14: I'm not sure if I get all cases for Temporal classes from the jav

[2020-06-24 23:11] xqliu opened #47 "Handle domain in same package contains same field"
Hi,

When there's two domain defined in same package, which all contains field with same value like

[code]

Then the system will failed to start with follow exception, could you please advice which settings could be used to fix this issue? thanks.

I have tried to use alias with no luch.

[code]

Handle domain in same package contains same field

[2020-06-24 23:28] xqliu commented on #47
Could you please help to merge this PR to resolve the above issue?

Thanks.

[2020-06-25 11:30] puneetbehl commented on #47
@xqliu Which version of the plugin are you using? Could you please try with 2.7.0.RC1?

[2020-06-25 11:45] xqliu commented on #47
I am using 3.0.0 build snapshot

Seems the issue will happen if the field has different boost set.

While it does not happen If boost set to same value in different domain.

I have just workaround the issue by setting boost to same value

Since I am using grails 4, looks like the 2.7 does not work with grails 4.

Thanks for your work on this.

[2020-06-26 10:31] izzetkalic commented on #34
Is there any information about this?

[2020-06-26 11:00] puneetbehl commented on #47
There are some changes I need to do before releasing the one to support Grails 4. I would soon work on updating the master branch with changes from 2.7 and release a milestone version.

[2020-06-26 12:16] puneetbehl commented on #34
I do not think it is possible right now because of the way it creates/deletes the index by listening to the GORM events. However, you could directly invoke the method from the ElasticsearchService exposed by the plugin instead of calling the `save()` method.

[2020-06-26 12:18] puneetbehl commented on #34
Another solution might be to come up with GORM for Elasticsearch implementation of https://github.com/grails/grails-data-mapping something similar to the other GORM implementations such as Hibernate, MongoDB, Neo4j, etc. It is in the back of my mind but could get a chance to work on it.

[2020-06-26 12:23] izzetkalic commented on #34
Using the ElasticsearchService method sounds good to me. I am going to look the other solution. Thank you for your answer. Happy coding.

[2020-06-26 12:23] #34 closed, assigned to nobody

[2020-06-28 07:17] xqliu commented on #47
Great, appreciate for your work on this plugin :)

[2020-07-03 04:41] xqliu commented on #29
Hi @puneetbehl  Is there any specific work needs to be done on this task? maybe I can pick up some of them.

[2020-07-03 08:14] xqliu commented on #33
Also trying to figure out how to enable this.

[2020-07-03 08:45] puneetbehl commented on #33
With the plugin version 2.7.0.RC1, you could set the username and password in the Grails configuration. See https://github.com/puneetbehl/elasticsearch-grails-plugin/blob/2.7.x/src/main/groovy/grails/plugins/elasticsearch/ClientNodeFactoryBean.groovy#L64

Would you be intrested to submit a PR to update the documentation?

[2020-07-03 12:11] xqliu commented on #33
Sure would be more than glad to help on this.

Puneet Behl <notifications@github.com>于2020年7月3日 周五下午4:45写道：

--
Best Regards
Lawrence

[2020-07-03 22:58] puneetbehl commented on #29
@xqliu It would be great if you could track down this problem. Please feel free to reach out to me if you have any questions.

[2020-07-04 00:00] xqliu commented on #29
I have resolved this issue by fix the log libraries conflict before

Will raise a PR

[2020-07-05 18:23] #12 closed, assigned to puneetbehl

[2020-07-08 14:50] Trebla7th opened #53 "Bulk index performance decays substantially (and may eventually fail) on large data sets"
NOTE: This was discovered against MySQL, loading data with offsets get slower the more the data is offset.  This may not be an issue against other DBs

When indexing a domain class with greater than 1 million records, index performance decays and eventually dies.  This is caused by the way data is loaded in `ElasticSearchService.doBulkRequest()`.  The line:

`List<Class<?>> results = domainClass.l

[2020-07-20 21:25] puneetbehl commented on #53
Thank you, I will update this in the plugin.

[2020-07-21 22:14] #29 closed, assigned to puneetbehl

[2021-01-01 19:33] BryanWBear opened #67 "No signature of method: grails.plugins.elasticsearch.ElasticSearchResult.isEmpty() is applicable for argument types: () values: []"
### Steps to Reproduce

Here is a minimal example, mostly just derived from the grails tutorial:

Controller:

[code]

Search Service:

[code]

### Expected Behaviour

The following should be printed out:
[code]

### Actual Behaviour

[code]

### Thoughts

The stacktrace is pretty unhelpful. I am new to Grails but the mind-boggling thing here is that the search seems to complete successfully, yet

[2021-01-19 07:12] ajayshah1992 opened #68 "Issue with bulkIndexOnStartup, I was getting error while persistenceInterceptor.flush() in ElasticSearchService line 384."
I have checked persistenceInterceptor is null always, which results in error as:
01.2021 12:17:50.548 [restartedMain] INFO  o.a.catalina.core.StandardService - Stopping service [Tomcat]
19.01.2021 12:17:50.551 [restartedMain] WARN  o.a.c.loader.WebappClassLoaderBase - The web application [mvp] appears to have started a thread named [java-sdk-http-connection-reaper] but has failed to stop it. This

[2021-01-19 08:14] ajayshah1992 commented on #68
The problem is solved by adding Alias in resources file.
springConfig.addAlias "persistenceInterceptor", "mongoPersistenceInterceptor"
Thank you!

[2021-01-19 08:14] #68 closed, assigned to nobody

[2021-01-23 10:58] verglor commented on #14
Fixed by 08dc7e8

[2021-01-23 10:58] #14 closed, assigned to verglor

[2021-03-03 12:51] paulbarker commented on #16
+1. I have an 'Address' domain with the 'country' property as a String which gets mapped as 'text'. So the only way I can get aggregations on Elastic is by changing it to an enum to get the 'keyword' type.
Lots of changes to my code (arguably for the better but still...)

[2021-03-30 09:34] miq opened #74 "Grails 4 application with enabled Elasticsearch-plugin fails with "Not a valid protocol version: This is not an HTTP port""
### Task List

- [x] Steps to reproduce provided
- [x] Stacktrace (if present) provided
- [x] Example that reproduces the problem uploaded to Github
- [x] Full description of the issue provided (see below)

### Steps to Reproduce

1. Create a fresh grails 4 application with grails create-app four-oh-nine
2. Add elasticsearchVersion stuff, compile dependency on the 3.0.0.M1 plugin and grails { path

[2021-04-01 08:23] miq opened #76 "client.mode=local does not work with Grails 4"
### Task List

- [x] Steps to reproduce provided
- [x] Stacktrace (if present) provided
- [x] Example that reproduces the problem uploaded to Github
- [x] Full description of the issue provided (see below)

### Steps to Reproduce

1. Create a fresh grails 4 application with grails create-app four-oh-nine
2. Add elasticsearchVersion stuff, compile dependency on the 3.0.0.M1 plugin and grails { path

[2021-05-14 02:33] recursivecodes opened #79 "`elasticSearch.date.formats` is seemingly ignored"
If I specify a value for `elasticSearch.date.formats`, I do not believe that this value is honored when unmarshalling.

See: https://github.com/puneetbehl/elasticsearch-grails-plugin/blob/03931f05aa1d337603f5929b3f78924c8680af76/src/main/groovy/grails/plugins/elasticsearch/conversion/unmarshall/DomainClassUnmarshaller.groovy#L253

I would imagine that this line should first check the config for a

[2021-05-14 03:00] recursivecodes commented on #79
To clarify: I'm using version `2.7.0.RC1`.

[2021-05-14 13:33] recursivecodes commented on #79
The issue that I am dealing with is an exception when unmarshalling:

[code]

Notice that my input value does not contain milliseconds - thus the failure with the pattern on line 253 of `DomainClassUnmarshaller`. Since we are checking for `Date` (line 252), perhaps drop the format and just parse the value? (IE: `DateTime.parse(propertyValue)`). Or, as stated above - use the value from the config (

[2021-05-14 13:41] Grestorn commented on #79
I've got a fix for that in my fork. If interested, I could create a Pull Request...

[2021-05-14 13:46] recursivecodes commented on #79
Let's see what @puneetbehl thinks. I think he is offline for a few days.

[2021-05-14 17:00] recursivecodes commented on #79
As a workaround, I'm able to create a converter class:

[code]

And use that:

[code]

[2021-06-28 10:51] demon101 commented on #76
I have same issue with grails 4.0.11
waiting for release
https://github.com/puneetbehl/elasticsearch-grails-plugin/pull/75/files

[2021-06-28 16:02] demon101 commented on #74
use 9200 instead of 9300

[2021-07-23 08:34] perdacherMartin opened #84 "Actively maintained?"
I am wondering if the elasticsearch-grails-plugin is actively maintained. The `build` flag is set to unknown and some links in the README point to nowhere.

Thanks for letting me know.

[2021-07-25 09:11] puneetbehl commented on #84
We have no plans abandon Elasticsearch Grails plugin, and is community driven. So, for me given the priorities of all other projects sometimes it may take a backseat. I would appreciate if you could send a PR to update the broken links and for the build I am planninf to move to Github Actions.

[2021-07-27 16:04] perdacherMartin commented on #84
I still can't get this plugin to run. I am struggling with the [datastore implementation](https://github.com/grails-plugins/elasticsearch-grails-plugin#ohs-nos-im-hitting-a-javalangexception-no-datastore-implementation-specified). I am not sure what to put there for Grails 4. What is the `datastore bean as it is configured in the Spring context`. Which section do I find it in the [grails docs](htt

[2021-07-27 18:57] puneetbehl commented on #84
Here is an example application I used in the past https://github.com/puneetbehl/elasticsearch-demo-grails4

[2021-07-28 08:39] perdacherMartin commented on #84
Thanks this helped a lot.

[2021-07-28 08:39] #84 closed, assigned to nobody

[2021-07-30 01:30] puneetbehl commented on #84
@perdacherMartin I would appreciate any update/addition to the plugin documentation so that it is easy to use this plugin. Thanks!

[2021-07-30 01:54] puneetbehl commented on #79
Right, it should first check the config value instead of hardcoded. Please feel free to send PR

[2021-08-03 16:15] perdacherMartin opened #100 "Setting Properties in Domain class"
In earlier versions of the plugin it was possible to specify elasticsearch properties in the domain class.

For example:
[code]

How does it translates to the current version in the elasticsearch-grails-plugin? Is this still possible?

[2021-08-06 07:10] #100 closed, assigned to nobody

[2021-08-30 08:53] renovate[bot] opened #104 "Dependency Dashboard"
This issue lists Renovate updates and detected dependencies. Read the [Dependency Dashboard](https://docs.renovatebot.com/key-concepts/dashboard/) docs to learn more.<br>[View this repository on the Mend.io Web Portal](https://developer.mend.io/github/grails/grails-elasticsearch).

## Config Migration Needed

 - [ ]  Select this checkbox to let Renovate create an automated Config Migration PR.

##

[2022-01-05 22:43] purpleraven commented on #76
The local type not possible anymore. external ES instance with transport type should be used in dev

[2022-01-07 08:50] miq commented on #76
@purpleraven Is there a good reason for that or does someone just have to implement a fix for reenabling the feature?